header{
	
	background:black;
   position: fixed;
   width: 100%;
   height: 16%;

	
	
}
header img{
	width: 4%;
	height: 4%;
	display: inline;
}
body{
	
background-color: gray;
background-image: url("hero1.jpg");
 
}
header h1{ 

text-align: center;
font-style: italic;
font-family: 'Abril Fatface', cursive;
font-size: 45px;
text-shadow:0px 0px 35px blue;

}
nav ul
{
	float: right;
}
nav li {
		display:inline;
		float: left;
		padding-right: 10px;
		text-shadow:0px 0px 35px blue;
}
.main {
	padding-top:45px;
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	font-size: 15;
		}
	aside{
		margin-bottom: 50px;
	}
.main h2{ text-align: center;
			color: white;
			font-family: 'Abril Fatface', cursive;
			font-size: 25px;
			text-shadow:0px 0px 35px black;
		}
	.wrap{

			background-color: none ;
	}
	.cont
	{
		color:white;
	}

aside li{
	background: orange;
	display: inline;
}
aside img{
	width: 270px;
	height: 200px;
	margin-left: 10PX;
	border-image: 0px;
	
	
}
aside img:hover{
	transform:scale(1.25);
}
.hero h3
{
	text-align: center;
	padding-top: 70px;
	color: white;

}
article img{
	padding-left: 20px;
	padding-right: 10px;
	width: 96%;
	height: 60%;
}
.hero h3{
	font-family: 'Abril Fatface', cursive;
}
.thirdset img{

	padding-left: 20px;
	padding-top:10px;
	padding-right: 50px;
	padding-bottom: 10px;
	height: 100%;
	width: 90%;
}
.new {
font-family: 'Lobster', cursive;
font-size: 15px;
text-shadow:0px 0px 25px black;
}
.new section{
	float: right;
}

.fourthset p{

font-family: 'Lobster', cursive;
font-size: 15px;
color: white;
}

.fourthset h2{
	text-align: center;
	color: white;
	font-family: 'Lobster', cursive;
	text-shadow:0px 0px 25px black;
}

}
.new1 section{
	float: right;
}






footer h2{
    
	font-style: italic;
	font-family: serif;
	padding-left: 10px;

}
.social img{
	height: 20%;
	width: 20%;
	padding-top: 10px;
}

.foot{
	background-color:none; 
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	text-shadow:0px 0px 25px black;
	text-decoration: underline;

}
.foot img{
	width:50px;
	height: 50px;
	padding-left: 200px;
	margin-bottom: 30px;

}
