header{
	background-color: black;
}
header h1
{
	color: white;
}
nav li{
	display: inline;
	
}

nav a,li{
	text-decoration: none;
	font-family: monospace;
	color:white ;
	font-size: 20px;
}
nav a:hover{
	text-decoration: none;

}
section img{
	margin-top: 20px;
	width: 300px;
	height: 300px;
	
}
section a:hover{
	
	opacity:0.4;

}
section {
	font-family: monospace;
	margin-top: 20px;
	padding-left: 30px;
	font-size: 40px;
}